modules = ["nodejs-20"]
run = "node index.js"
[agent]
expertMode = true
integrations = ["javascript_mem_db==1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["ffmpeg", "python3"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "MATDEV Bot"
author = "agent"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "MATDEV Bot"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"

[workflows.workflow.metadata]
outputType = "console"

[deployment]
run = ["node", "index.js"]
deploymentTarget = "vm"
